body{

font-family: Arial, Helvetica, sans-serif;
margin: 0; /*espaçamento externo da pagina*/
padding: 0%;/*espaçamento interno da pagina*/
background-color: aliceblue;
text-align: center;/*texto centralizado*/

}
header{

background-color: #28a745;
color: aliceblue;
padding: 15px 0px;/*15px (espaçamento interno acima e abaixo) e 0px (espaçamento esquerda e a direita)*/
font-size: 24px;
}

nav{background: blueviolet;
padding: 10px;/*espaçamento interno d menu*/
display: flex; /*flex boxing*/
justify-content: space-between;/*espaço entre os elementos*/
align-items: center;/*alinhamento vertical*/



}


#links-menu{
    
    display: flex;
    gap: 30px; /*distancia entre os itens do menu*/
}

nav a {

    color: aliceblue;
    text-decoration: none;/*não decora os links (underline, etc...)*/
    padding: 10px 15px; /*10px (acima e abaixo) 15px (esqurda direita)*/
    font-size: 18px;    
    background-color: blueviolet;
    border-radius: 5px/*bordas arredondadas*/


}

